body {
    margin: 0;
    padding: 0;
    background-image: url(./image/background_image.png);
}

/* index file */
.main {
    display: grid;
    grid-template-columns: 1fr;

}

.title {
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: 'Segoe UI';
}

.login {
    text-align: center;
    margin-top: 150px;
}

.btn {
    padding: 20px 60px;
    background-color: #c7ecee;
    border-radius: 0px 15px 0px 15px;
    font-size: 2.5em;
    border: none;
    color: #22a6b3;

}

.btn:hover {
    background-color: #576574;
    color: rgb(255, 255, 255);

}

@media only screen and (max-width: 750px) {
    body {
        background-image: url(./image/bg_img_mobile.png);
        background-repeat: no-repeat;
        width: 100%;
    }

    .title {
        font-size: 1.6em;
    }
}

/* index file */


/* accounts file */
.acc_field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.acc_head{
    grid-column: 1/4;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    font-size: 40px;
}
.office_expenses{
    grid-column: 1/4;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #57657428;
    padding: 50px;
    border-radius: 0px 15px 0px 15px;
    box-sizing: border-box;
}
.fund{
    grid-column: 1/4;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #57657428;
    padding: 50px 80px;
    border-radius: 0px 15px 0px 15px;
    box-sizing: border-box;
}

.ac_btn{
    padding: 25px 40px;
    background-color: aquamarine;
    font-size: 1.6em;
    border-radius: 15px 0px 15px 0px;
    
}

@media only screen and (max-width: 750px){
    .acc_head{
        font-size: 20px;
    }
    .office_expenses{
        margin-left: 20px;
        margin-right: 20px;
    }
    .fund{
        margin-left: 20px;
        margin-right: 20px;
    }
    .ac_btn{
        padding: 25px 40px;
        background-color: aquamarine;
        font-size: 15px;
        border-radius: 15px 0px 15px 0px;
        
    }
}